extends layout

block content
  h1 Token
  code= token

  h1 Feed URL
  div.list-group
    a.list-group-item(href="/user/summary.atom?token="+token) Summary
      span.glyphicon(class="glyphicon-link pull-right")
    a.list-group-item(href="/user/activities.atom?token="+token) Activities
      span.glyphicon(class="glyphicon-link pull-right")
